@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Nunito:wght@300&display=swap');

$primary: #5265E1;
$secondary: #FA5959;
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;

$font-family-sans-serif: 'Nunito',
sans-serif;
$font-family-monospace: 'Courier Prime', monospace;

.bottom-10 {
  bottom: 10% !important;
}

.bottom-20 {
  bottom: 20% !important;
}

.h-60 {
  height: 60% !important;
}

.h-51 {
  height: 50% !important;
}

.left-60 {
  left: 60% !important;
}

.zi-1 {
  z-index: -1 !important;
}

html,
body {
  overflow-x: hidden;
}

.pill-2 {
  left: -1159px;
  bottom: -83vh;
  height: 36%;
}

.w-51 {
  width: 50% !important;
}

.w-26{
  width: 25% !important;
}

.w-76{
  width: 75% !important;
}

.n-100 {
  width: 100% !important;
  display: flex;
  justify-content: center;
}


.nav-tabs2 {

  .nav-link2 {
    padding-bottom: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    font-weight: bold;
    color: grey;

    &:hover,
    &:focus {
      color: $secondary;
      isolation: isolate;
    }

    &.disabled {
      color: blue;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link2.active,
  .nav-item2.show .nav-link2 {
    border-bottom: 3px solid red;
    color: black;
    position: relative;
    z-index: 1;
  }
}

.c4{
  margin-top: 15rem;
}

.micard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80% !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 7vh;
  border-radius: 10px;
  
}
.d-card{
  margin-top: 3vh;
  border-top: 2px dashed grey;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.m-card{
  margin-top: 3rem !important;
}

.m-fire{
  margin-top: 6rem !important;
}

.m-ope{
  margin-top: 9rem !important;
}

.btn-card:hover{
  background-color: white !important;
  color: $primary !important;
}

.w-50100{
  width: 50% !important;
}

.w-25100{
  width: 25% !important;
}


@media screen and (max-width: 720px) {

  .c1 {
    align-items: center;
    text-align: center;
    padding-top: 20rem;
  }

  .h-60 {
    height: 30% !important;
  }

  .bottom-20 {
    bottom: 50% !important;
    left: 15%;
  }

  .bottom-10 {
    bottom: 47% !important;
  }

  .h-51 {
    height: 25% !important;
  }

  .left-60 {
    left: 23% !important;
  }


  .c2 {
    padding-top: 10rem;
  }

  .w-51 {
    width: 100% !important;
  }

  .n-100 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .nav-tabs2 {

    .nav-link2 {
      padding-bottom: 20px;
      padding-top: 20px;
      background: none;
      border: none;
      border-top: 1px solid grey;
      font-weight: bold;
      color: grey;
      width: 100% !important;

      &:hover,
      &:focus {
        color: $secondary;
        isolation: isolate;
      }

      &.disabled {
        color: blue;
        background-color: transparent;
        border-color: transparent;
      }
    }

    .nav-link2.active,
    .nav-item2.show .nav-link2 {
      border-bottom: none;
      color: black;

      &::before {
        content: "";
        position: absolute;
        left: 25%;
        bottom: 0;
        height: 1px;
        width: 50%;
        border-bottom: 3px solid red;
      }
    }
  }
  
  .pill-2 {
    left: -169px;
    bottom: -110vh;
    height: 34%;
}

.c3 {
  align-items: center;
  text-align: center;
  padding-top: 8rem;
}

.btn-none{
  display: none !important;
}

.c4{
  margin-top: 0;
}

.micard{
  // width: 100% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.m-fire{
  margin-top: 3rem !important;
}

.m-ope{
  margin-top: 3rem !important;
}

.w-50100{
  width: 100% !important;
}

.w-26{
  width: 75% !important;
}

.w-25100{
  width: 100% !important;
}

.d-column{
  flex-direction: column;
}

.w-101{
  width: 75% !important;
}

}



@import 'node_modules/bootstrap/scss/functions.scss';
@import 'node_modules/bootstrap/scss/variables.scss';
@import 'node_modules/bootstrap/scss/mixins.scss';

$body-bg: $light;
$accordion-button-bg: $body-bg;
$accordion-bg: $body-bg;
$accordion-border-color: $body-bg;
$accordion-button-active-bg: $accordion-button-bg;
$accordion-button-active-color: black;
$accordion-button-focus-box-shadow: none;

$mt-5: 10rem !important;



@import 'node_modules/bootstrap/scss/bootstrap.scss';